<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polychat.polychatbe.announcement.query.repository.AnnouncementSearchRepository">

    <resultMap id="announcementMap" type="com.polychat.polychatbe.announcement.query.dto.AnnouncementResponseDTO">
        <id property="announcementId" column="announcement_id"/>
        <result property="announcementTitle" column="announcement_title"/>
        <result property="announcementContent" column="announcement_content"/>
        <result property="uploaderNo" column="uploader_id"/>
        <result property="uploaderName" column="uploader_name"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="lastUpdatedTime" column="last_updated_time"/>

    </resultMap>

    <select id="countAll" resultType="_int">
        SELECT
                COUNT(*)
          FROM
                TBL_ANNOUNCEMENT
    </select>

    <select id="findAllAnnouncement" resultMap="announcementMap"
            parameterType="com.polychat.polychatbe.common.SearchCriteriaInfo">
        SELECT  ANNOUNCEMENT_ID
              , ANNOUNCEMENT_TITLE
              , ANNOUNCEMENT_CONTENT
              , A.UPLOADER_ID AS UPLOADER_ID
              , B.USER_NAME AS UPLOADER_NAME
              , UPLOAD_TIME
              , LAST_UPDATED_TIME
          FROM
                TBL_ANNOUNCEMENT A
          LEFT JOIN
                TBL_USER B
            ON
                A.UPLOADER_ID=B.USER_NO
        <if test="orderCriteria == 'announcementId' and orderMethod != null">
            ORDER BY ANNOUNCEMENT_ID ${orderMethod}
        </if>
        <if test="orderCriteria == 'announcementTitle' and orderMethod != null">
            ORDER BY ANNOUNCEMENT_TITLE ${orderMethod}
        </if>
        <if test="orderCriteria == 'uploadTime' and orderMethod != null">
            ORDER BY UPLOAD_TIME ${orderMethod}
        </if>
        <if test="limit!=null">
            limit #{limit}
        </if>
        <if test="offset!=null">
            offset #{offset}
        </if>
    </select>

<!--    <select id="findAnnouncementByCriteria" resultMap="announcementMap"-->
<!--            parameterType="com.polychat.polychatbe.common.SearchCriteriaInfo">-->
<!--        SELECT  ANNOUNCEMENT_ID-->
<!--              , ANNOUNCEMENT_TITLE-->
<!--              , ANNOUNCEMENT_CONTENT-->
<!--              , A.UPLOADER_ID AS UPLOADER_ID-->
<!--              , B.USER_NAME AS UPLOADER_NAME-->
<!--              , UPLOAD_TIME-->
<!--              , LAST_UPDATED_TIME-->
<!--          FROM-->
<!--                TBL_ANNOUNCEMENT A-->
<!--          JOIN-->
<!--                TBL_USER B-->
<!--            ON-->
<!--        A.UPLOADER_ID=B.USER_NO-->
<!--        <if test="limit!=null">-->
<!--            limit #{limit}-->
<!--        </if>-->
<!--        <if test="offset!=null">-->
<!--            offset #{offset}-->
<!--        </if>-->
<!--        <if test="orderCriteria!=null and orderMethod!=null">-->
<!--            ORDER BY #{orderCriteria} #{orderMethod}-->
<!--        </if>-->

<!--    </select>-->

    <select id="findAnnouncementById" resultMap="announcementMap">
        SELECT  ANNOUNCEMENT_ID
             ,  ANNOUNCEMENT_TITLE
             ,  ANNOUNCEMENT_CONTENT
             ,  A.UPLOADER_ID AS UPLOADER_ID
             ,  B.USER_NAME AS UPLOADER_NAME
             ,  UPLOAD_TIME
             ,  LAST_UPDATED_TIME
          FROM
                TBL_ANNOUNCEMENT A
        LEFT JOIN
                TBL_USER B
            ON
                A.UPLOADER_ID=B.USER_NO
         WHERE
                A.ANNOUNCEMENT_ID = #{announcementId}
    </select>

</mapper>