<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polychat.polychatbe.interest.query.repository.InterestMapper">

    <resultMap id="interestMap" type="InterestDTO">
        <id property="interestId" column="interest_id"/>
        <result property="interestName" column="interest_name"/>
    </resultMap>

    <select id="findAllInterests" resultMap="interestMap">
        SELECT
            interest_id,
            interest_name
        FROM
            tbl_interest
    </select>

    <select id="findAllInterestIds" resultType="long">
        SELECT
            interest_id
        FROM
            tbl_interest
    </select>

    <select id="findInterestByNo" resultMap="interestMap" parameterType="long">
        SELECT
            interest_id,
            interest_name
        FROM
            tbl_interest
        WHERE
            interest_id = #{ interestId }
    </select>

    <select id="findInterestByName" resultMap="interestMap" parameterType="string">
        SELECT
            interest_id,
            interest_name
        FROM
            tbl_interest
        WHERE
            interest_name = #{ interestName }
    </select>

    <select id="findinterestIdByName" parameterType="string">
        SELECT
            interest_id
        FROM
            tbl_interest
        WHERE
            interest_name = #{ interestName }
    </select>

    <select id="findInterestNameByNo" parameterType="long">
        SELECT
            interest_name
        FROM
            tbl_interest
        WHERE
            interest_id = #{ interestId }
    </select>

</mapper>