<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polychat.polychatbe.user.query.repository.UserSearchRepository">

    <resultMap id="userMap" type="com.polychat.polychatbe.user.query.dto.UserResponseDTO">
        <id property="userId" column="user_id"/>
        <result property="email" column="email"/>
        <result property="userName" column="user_name"/>
        <result property="planet" column="planet"/>
        <result property="loginType" column="login_type"/>
        <result property="authority" column="authority"/>
        <result property="status" column="status"/>
    </resultMap>


    <select id="findAllUser" resultMap="userMap">
        SELECT
                USER_ID
              , EMAIL
              , USER_NAME
              , PLANET
              , LOGIN_TYPE
              , AUTHORITY
              , STATUS
          FROM
                TBL_USER
    </select>

    <select id="findUsersWithCriteria" resultMap="userMap"
        parameterType="com.polychat.polychatbe.common.SearchCriteriaInfo">
        SELECT
                USER_ID
              , EMAIL
              , USER_NAME
              , PLANET
              , LOGIN_TYPE
              , AUTHORITY
              , STATUS
          FROM
        TBL_USER
        <if test="orderCriteriaSnakeCase != null and orderMethod != null">
            ORDER BY ${orderCriteriaSnakeCase} ${orderMethod}
        </if>
        <if test="limit!=null">
            limit #{limit}
        </if>
        <if test="offset!=null">
            offset #{offset}
        </if>
    </select>


    <select id="countAll" resultType="_int">
        SELECT
                COUNT(*)
          FROM
                TBL_USER
    </select>


</mapper>